html, body {
    height: 100%;
    font-weight: 300;
    /*font-family: 'San Fransisco', 'PingFang SC', 'Helvetica Neue', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;*/
    font-family: sans-serif;
    line-height: 1.75em;
    color: #333;
}

/*skeleton*/
div.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

header.nav {
    margin-bottom: 40px;
}

main {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

article, div.summary {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

div.content {
    font-size: 12pt;
}

/*apple4.us*/
footer {
	width:100%;
	height:100px;
	position:relative;
	bottom:0;
	left:0;
}

div.summary {
    margin-bottom: 40px;
}
div.summary span.title {
    font-weight: 400;
    font-size: 14pt;
}

div.summary div.summary-meta {
    color: grey;
    font-size: 10pt;
}

header.meta {
    margin-bottom: 40px;
}

div.meta {
    text-indent: 0;
    padding: .2rem .5rem;
    background: #eee;
    border-radius: 4px;
    width: 50%;
}

/* inline codes */
code {
    font-family: menlo, consolas, monospace;
    padding: .2rem .2rem;
    margin: 0 .2rem;
    font-size: 10pt;
    background: #eee;
    border-radius: 4px;
    line-height: normal;
    /*background: #e6f2f9;*/
    /*color: #144966;*/
}

/* block codes */
pre {
    text-indent: 0;
    padding: .2rem .5rem;
    background: #eee;
    border-radius: 4px;
}

pre code {
    padding: 0;
    margin: 0;
}

/* highlighted codes */
div.highlight pre{
    padding: 0;
    margin: 0;
    background: #222;
    border-radius: 0;
}

div.highlight code{
    padding: 0;
    margin: 0;
    background: #222;
}

div.highlight span.lineno {
    color: #ccc;
    padding: .5rem .5rem;
    font-size: 10pt;
}

/*img*/

.img-responsive {
    width: 100%;
    height: auto;
}

#img-title {
    padding: 20px 0;
    width: 100%;
    max-width: 720px;
}

/*link*/
/*
a {
    color: #2074a3;
    text-decoration: none;
}

a:hover {
    color: #5eb2e2;

}
*/

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: grey;
}

div.content a {
    text-decoration: none;
    border-bottom: dotted 1px;
}

div.content a:hover {
    border-bottom: solid 1px;
}

/*a.readmore {
    background-color: #333;
    color: #ccc;
    padding: 0.2em;
}*/

a.readmore {
    border: 2px solid grey;
    padding: 0.2em 0.5em;
    line-height: 2.5em;
    border-radius: 5px;
    -webkit-transition: 0.2s;
}

a.readmore:hover {
    border-color: #333;
    background-color: #333;
    color: #ccc;
}

/**************** other elements *****************/

blockquote {
    padding: 0 1em;
    margin: 0;
    color: grey;
	border-left: 3px solid grey;
    font-size: 0.9em;
}

div.note {
    font-size: 10pt;
    color: grey;
}

hr {
    border-top: 1px solid #ccc;
    margin: 48px auto;
}

div.content > hr {
    border: 0;
    color: grey;
    text-align: center;
}

div.content > hr:after {
    content: "✢";
    display: inline-block;
    position: relative;
    top: -1em;
    font-size: 1em;
}

.divider {
    color: grey;
}

td, th{
    padding:0.1em 0.3em;
}
