<header align="center" class="nav">
    <div id="top-bar"></div>
    <a href="/"><img id="img-title" src="/images/logo.png" alt="The Great Garage - Logo" /></a>
    <div class="row">
        <div class="twelve columns" style="margin-top: 0">
            <a href="/post">Posts</a><span class="divider"> ✢ </span>
            <a href="/categories">Categories</a><span class="divider"> ✢ </span>
            <a href="/collection">Collection</a><span class="divider"> ✢ </span>
            <a href="/about">About</a>
            <!-- <a href="{{ .URL }}" type="application/rss+xml" target="_blank">RSS</a> -->
        </div>
    </div>
</header>
