<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <title></title>
    </head>
    <body>
    <div class="container">
        {{ partial "header.html" . }}
        <header class="meta">
        </header>
        <main>
            <h3>{{ .Title }}</h3>
            <ul>
                {{ range .Data.Pages}}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </main>
        {{ partial "footer.html" . }}
    </div>
    </body>
</html>
