<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <title></title>
    </head>
    <body>
    <div class="container">
        {{ partial "header.html" . }}
        <main>
            <h3>{{ .Title }}</h3>
            <ul>
                {{ $data := .Data }}
                {{ range $key, $value := .Data.Terms }}
                    <li><a href="{{ $key | urlize }}">{{ $key }}</a></li>
                {{ end }}
                <li><a href="games">Game Reviews</a></li>
                <li><a href="anime">Anime Reviews</a></li>
           </ul>
       </main>
        {{ partial "footer.html" . }}
    </div>
    </body>
</html>
